<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bella Doceria - Sobre</title>
    <link rel="stylesheet" href="{% static 'css/sobre.css'%}">
</head>
<body>
    <header class="topo">
    <div class="logo">
      <a href="{% url 'home' %}">
        <img src="{%static 'images/logo.png'%}" alt="Bella Doceria" style="height: 120px; width: 120px;">
      </a>
      <a href="{% url 'home' %}" class="logo-texto">
        <h1>Bella <span>Doceria</span></h1>
      </a>
    </div>
    <nav class="menu">
      <a href="{% url 'home' %}">Início</a>
        <a href="{% url 'sobre' %}">Sobre</a>
        <a href="{% url 'contato' %}">Contato</a>
    </nav>
  </header>

    <section class="banner">
    <img src="{% static 'images/10-banner-imagem.png' %}" alt="Banner principal da Bella Doceria">
    <a href="https://wa.me/5581996522114" class="button">Faça seu pedido</a>
</section>

    <section class="sobre">
    <img src="{% static 'images/10 banner imagem central.png'%}" alt="Banner sobre a Bella Doceria">
</section>

    <section class="historia">
        <img src="{% static 'images/fotonovateste.png' %}" alt="Banner da história da Bella Doceria" 
         class="banner-principal"> <!-- Classe adicionada -->
    
    <div class="historia-content">
        <a href="https://wa.me/5581996522114" class="button">Faça seu pedido</a>
    </div>
    
    <img src="{% static 'images/MulherCozinhando.png' %}" 
         alt="Imagem decorativa 1" 
         class="decorativa-1"> <!-- Classe adicionada -->
    
    <img src="{% static 'images/10-banner-botão.png'%}" 
         alt="Imagem decorativa 2" 
         class="decorativa-2"> <!-- Classe adicionada -->
</section>

    <footer>
        <div class="container-rodape">
            <div class="conteudo-sobre-imagem">
                <div class="links-rodape">
                    <ul class="menu-esquerdo">
                        <li><a href="{% url 'home' %}">Início</a></li>
                        <li><a href="{% url 'sobre' %}">Sobre</a></li>
                        <li><a href="{% url 'contato' %}">Contato</a></li>
                    </ul>
                    <ul class="central">
                        <li><a href="{% url 'privacidade' %}">Termos de Uso</a></li>
                        <li><a href="{% url 'privacidade' %}">Aviso Legal</a></li>
                        <li><a href="{% url 'privacidade' %}">Políticas de Privacidade e Cookies</a></li>
                    </ul>
                </div>
                <div class="icones-redes-sociais">
                    <a href="https://wa.me/5581996522114" target="_blank" rel="noopener noreferrer">
                        <img src="{% static '/images/whatsapp rodapé.png'%}" alt="Ícone do WhatsApp">
                    </a>
                    <a href="https://www.instagram.com/bella.doceria__?igsh=MXE4bHBwbnlyeG8xOQ%3D%3D&utm_source=qr" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'images/instagram rodapé.png'%}" alt="Ícone do Instagram">
                    </a>
                    <a href="https://www.facebook.com/sua_pagina" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'images/facebook  rodapé.png'%}" alt="Ícone do Facebook">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>